<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include google-tag-manager.html %}

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col s12 m9 l10">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Sergio Garcia",
      "url": "http://www.sergio.eti.br",
      "sameAs": [
        "https://www.facebook.com/sergio.garcia.1984",
        "https://twitter.com/sergio_ykz",
        "https://br.linkedin.com/in/sergiodev",
        "https://plus.google.com/u/0/+SergioGarcia1984"
      ]
    }
    </script>
  </body>

</html>
